.aside-about {
	max-width: 190px;
	margin: 10px auto;
}

.aside-social__list {
	display: flex;
	margin: 0;
	padding: 0;
}

.aside-social a {
	transition: opacity .2s ease-in-out;
}

.aside-social a:hover {
	opacity: .6;
}

.aside-social svg {
	height: 32px;
	width: 100%;
}

.aside-footer {
	margin-top: 45px;
}

.aside-footer li {
	list-style-type:none;
	font-size: 16px;
	line-height: 24px;
	padding: 10px;
}
