.aside_main_link {
	width: 363px;
	height: 164px;
	border-radius: 15px;
	display: block;
	margin: 60px 0;
	background-image: url('images/main.png');

	color: white;
	padding-top: 103px;
	padding-left: 121px;
	font-size: 18px;
	font-family: BankGothicCMdBT;
}
