.branch-theme {
	background-color: #fafafd;
}

.branch-template {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.branch-template__main-col {
	max-width: 852px;
	width: 100%;
}

.branch-template__aside-col {
	max-width: 363px;
	width: 100%;
}

.branch-template__aside-col .aside-about {
	margin-top: 50px;
}

.branch-card {
	background: #fff;
	border-radius: 10px;
	margin-bottom: 55px;
	overflow: hidden;
}

.branch-card__cover {
	display: block;
	background-size: 100%;
	background-position: 50% 0;
	background-repeat: no-repeat;
}

.branch-card__image {
	max-height: 420px;
	opacity: 0;
}

.branch-card__text {
	box-sizing: border-box;
	padding: 0 40px 40px 40px;
}

.articles-branch__video {
	margin-bottom: 55px;
}

.branch-card__read-more {
	display: inline-block;
	position: relative;
}

.branch-card__read-more:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #cfcfcf;
	bottom: -2px;
}

.branch-card__read-more:hover:after {
	opacity: 0;
}

.branch-card__info {
	font-size: 12px;
	color: #979797;
	display: flex;
}

.branch-card__time {
	margin-left: 30px;
}
