.main-news {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.grid-post__wrapper {
	max-width: 612px;
	width: 100%;
	display: block;
}

.news-loadmore__wrapper {
	text-align: center;
}

.news-loadmore {
	cursor: pointer;
	background-color: #f5f8fa;
	border-radius: 26px;
	display: inline-block;
	padding: 14px 40px;
	transition: opacity .2s ease-in-out;
}

.news-loadmore:hover {
	opacity: .8;
}

.news-loadmore:before {
	content: '';
    display: inline-block;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    width: 10px;
    margin-right: 10px;
    height: 10px;
    position: relative;
    top: -2px;
    transform: rotate(45deg);
}

.grid-post {
	margin-bottom: 55px;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}

.main-card__cover {
	display: block;
	background-size: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	border-radius: 10px;
	overflow: hidden;
}

.main-card__image {
	max-height: 350px;
	opacity: 0;
}

.main-card__featured .main-card__image {
	max-height: 475px;
}

.grid-post__text {
	padding-left: 31px;
	padding-right: 25px;
}

.grid-post__category {
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 12px;
	text-transform: uppercase;
	color: #838383;
}

.grid-post__title {
	font-weight: normal;
	font-size: 19.5px;
	letter-spacing: 0.6px;
}

.grid-post img,
.article__video {
	border-radius: 10px;
}

.article__video {
	height: 345px;
}

.featured__video {
	border-radius: 15px;
}

.featured__text {
	padding-left: 35px;
	padding-right: 25px;
}

.featured__category {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 12px;
	text-transform: uppercase;
	color: #838383;
}

.featured__title {
	font-size: 32px;
	font-family: 'Roboto';
	font-weight: 500;
}

.lazy {
	background-image: none !important;
	background-color: #F1F1FA;
}

@media screen and (max-width:950px) {
	.featured__title {
		font-size: 22px;
	}

	.main-card__image {
		max-height: 100%;
	}
}
