.most-readable {
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
}

.most-readable__main-title {
	margin: 0;
	font-size: 19px;
}

.most-readable__branch-title {
	background-color: #f5f8fa;
	padding: 20px;
	margin: 0;
	font-size: 19px;
}

.most-readable__separator {
	background-color: #dbdbdb;
	height: 1px;
	margin: 8px 0;
}

.most-readable__item {
	margin-bottom: 30px;
}

.most-readable__item-title {
	font-size: 19px;
}

.most-readable__item:last-child {
	margin-bottom: 0;
}

.most-readable__item-time {
	font-size: 12px;
	color: #838383;
	text-transform: uppercase;
}

.most-readable__main-content {
	padding: 20px 0;
}

.most-readable__content {
	padding: 20px;
}

.most-readable__item-title h4 {
	margin: 0 0 10px 0;
}
