.related-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.related-post {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: 20px;
}

.related-post-image {
	height: 210px;
}

.related-post-image img {
	object-fit: cover;
	border-radius: 10px;
	height: 100%;
	box-shadow: 0px 15px 30px 0 rgba(0, 0, 0, 0.2);
}

.related-post-title {
	margin: 26px;

	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 1.2;
}

@media screen and (max-width:700px) {
	.related-post-image,
	.related-post-content {
		width: 100%;
	}

	.related-container {
		flex-direction: column;
	}

	.related-post {
		width: 90%;
	}
}

.related-container-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 0.9px;
	margin: 0 30px;
	margin-top: 80px;
}
