.related-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.related-post {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: 20px;

	background-color: #ffffff;
}

.related-post-image {
	height: 210px;
}

.related-post-image img {
	object-fit: cover;
	border-radius: 10px;
	height: 100%;
}

.related-post-content {
}

.related-post-title {
	margin: 26px;

	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}

@media screen and (max-width:700px) {
	.related-post-image,
	.related-post-content {
		width: 100%;
	}

	.related-container {
		flex-direction: column;
	}

	.related-post {
		width: 90%;
	}
}

.related-container-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 0.9px;
	margin: 0 30px;
	margin-top: 100px;
}
