.main-support {
	margin: 75px auto;
	max-width: 515px;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	letter-spacing: 0.6px;
}

.main-support a {
	font-size: 38px;
	font-weight: bold;
}

.separator {
	width: 100%;
	height: 1px;
	background-color: #ebebeb;
	margin: 28px 0;
}

.content-info {
	width: 720px;
	margin: 0 auto;
	display: flex;
}

.post-date {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	letter-spacing: 0.3px;
	color: #979797;
	line-height: 30px;
	margin-right: 36px;
}

.content-reading-time {
	font-family: Open Sans,sans-serif;
	font-size: 12px;
	letter-spacing: 0.3px;
	color: #979797;
	text-align: right;
	line-height: 30px;
}

.content-time-icon {
	background-image: url('images/clock.svg');
	display: inline-block;
	width: 13px;
	height: 13px;
	position: relative;
	top: 2px;
}

.info-block {
	display: flex;
	justify-content: space-between;
}

.content-post-single {
	max-width: 1081px;
	margin: 0 auto;
	font-family: 'PT Serif', serif;
	word-wrap: break-word;
	color: #1a1a1a;
}

.content-title-single {
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 58px;
	font-weight: 600;
	letter-spacing: -0.26px;

	margin-top: 20px;
	margin-bottom: 65px;
	margin-left: auto;
	margin-right: auto;

	width: 720px;
}

.content-post-single p {
	font-size: 19px;
}

.content-image-single {
	text-align: center;
	margin: 0;
	margin-bottom: 65px;
}

.content-image-single img {
	border-radius: 10px;
}

.content-summary-single p img {
	text-align: center;
	margin: 0px auto;
}

.content-meta-card {
	display: none;
}

.autor-box-left {
	width: 70px;
	float: left;
}

.autor-box-right {
	float:left;
	width: auto;
	margin-left: 15px;
	margin-top: 12px;
	font-size: 14px;
}

.content-date-single {
	font-size: 12px;
	color: #ccc;
}

.autor-box-left img {
	border-radius: 50%;
}

.content-summary-single a {
	color: #0033cc;
}

.content-summary-single a:hover,
.content-summary-single a:focus,
.content-summary-single a:active {
	color: #0066cc;
}

.content-tags-single {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 80px;
}

.content-tag {
	border-radius: 3px;
	background-color: #f1f1f1;
	padding: 10px;
	margin: 0 8px 8px 0;

	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #515151 !important;
}

.share {
	background-color: #f5f5f5;
	padding: 20px;
	width: 100%;
}

.share-label {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 15px;
	display: block;
}

.ljs {
	display: inline-block;
	float: left;
	margin-right: 20px;
}

.lj-repost-button {
	box-shadow: none !important;
	border: 2px solid #000 !important;
	background-color: #f5f5f5 !important;
	padding: 5px;
	font-weight: 600;
	color: #000 !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

.lj-repost-button:hover {
	border: 2px solid #e00 !important;
}

.ya-share2__icon {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	width: 36px !important;
	height: 36px !important;
}

.ya-share2__counter {
	font-size: 18px !important;
	line-height: 36px !important;
}

.comments-area {
	padding: 15px;
}

.content-reading-time {
	opacity: .67;
	font-family: Open Sans,sans-serif;
	letter-spacing: .4px;
	color: rgba(0,0,0,.67);
	text-align: right;
	margin-bottom: 25px;
}

.content-time-icon {
	background-image: url('images/clock.svg');
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	top: 4px;
}

.content-text {
	width: 720px;
	margin: 0 auto;
}

.content-text h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 33px;
	font-weight: bold;
	line-height: 1.45;
	letter-spacing: normal;
}
