.svg_icon_container {
    display: inline-block;
}

.svg_icon_container svg {
    width: 100%;
    height: 100%;
    fill: #000;
    transition: 0.4s;
}

.svg_icon_container:hover svg {
	opacity: .8;
}

.svg_icon_container.small {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.svg_icon_container.medium {
    width: 24px;
    height: 24px;
    margin-right: 6px;
}

.svg_icon_container.large {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
